:root {
    --c-primary-brand: #4D5AE5;
    --c-pressed-state: #404BBF;
    --c-dark: #2E2F42;
    --c-succes: #31D0AA;
    --c-text: #434455;
    --c-subtle-text: #8E8F99;
    --c-accent: #E7E9FC;
    --c-light:#F4F4FD;
    --c-modal-overlay: #2E2F42;
    --c-hero-background: #2E2F42;
    --c-white-backgound: #FFFFFF;
    --c-modal-background: #FCFCFC;
}
body {
    font-family: 'Roboto', sans-serif;
}